// ============================================================================
//                 NAVBAR [ALRGE]
// ============================================================================

.banner {
    @extend %top;
    .swiper2 {
        height: calc(100vh - 103.33px);
        background-color: color(primary, x-light);
        .swiper-pagination-bullet {
            background: $white;
        }
        .swiper-button-prev:after, 
        .swiper-button-next:after {
            color: $white;
            font-size: 20px;
        }
        .swiper-slide {
            position: relative;
            @include bg-image($bg-position: center, $bg-repeat: no-repeat, $bg-size: cover);
        }
        .s-arrow {
            opacity: 0;
            background-color: $color--primary;
            padding: 10px;
            width: 42px;
            height: 42px;
            border-radius: $br-roundy;
            text-align: center;
            line-height: em(50px, 16px);
            transition: opacity $transition ease-out;
        }
        &:hover .s-arrow {
            opacity: 1;
        }
        article {
            color: $white;
            .btn {
                margin-top: 50px;
            }
            @extend %position-center;
            width: 100%;
            text-align: center;
            @include mq('lg') {
                width: 70%;
            }
        } 
    }

    .swiper-slide {
        height: 100%;
    }
}