// ============================================================================
//                 NAVBAR [ALRGE]
// ============================================================================

#banner {
    background: linear-gradient(90deg, $color--primary, $color--seconary);
}

.banner {
    width: 100%;
    height: calc(100vh - 103.33px);
    @extend %top;

    &-content {
        height: 100%;
        background: linear-gradient(-90deg, rgba($black , 0.665), rgba($black, 0.665));
        @include flexy($just: center, $align: center);
        text-align: center;
        color: color(primary, x-light);
        &__items {
            padding: 15px;
            @include mq('md') {
                width: 93%;
            }
            @include mq('lg') {
                width: 85%;
            }
            @include mq('xl') {
                width: 70%;
            }
            @include mq('xxl') {
                width: 60%;
            }
            .lg-heading {
                span {
                    color: color(primary, x-light);
                }
            }
            .btn {
                margin-top: 50px;
            }
        }
    }
}