// ========================================================================
// SM-BANNER
// ========================================================================

#sm-banner {
    position: relative;
    @include bg-image($bg-repeat: no-repeat, $bg-position: center, $bg-size: cover);
    padding: 90px 20px;
    @extend %center;
    @include p-el($el: 'before', $el-width: 100%, $el-height: 100%) {
        background: linear-gradient(90deg, rgba($color--primary, 0.45), rgba($color--primary, 0.46));
        top: 0;
        left: 0;
    }

    article {
        @extend %top;
        color: $white;
        @include mq('lg') {
            width: 70%;
            margin: 0 auto;
        }
    }
}